.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
h1{
  font-family: 'Raleway', sans-serif;
}
h3{
  font-family: 'Raleway', sans-serif;
}
h4{
  font-family: 'Raleway', sans-serif;
}
img{
  width:450px;
}